---
title: Archive
description: Check out our full length interviews of Richmond Greenway organizations.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>Our Story</h1>
			<p class="subtext">We have an extremely talented team whose sole goal is to bring you closer to the people around you.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		{% for archive in site.archive_items %}
			{% assign loopindex = forloop.index | modulo: 2 %}
			{% if loopindex == 1 %}
			<section class="info">
				<div class="container flex">
					<div class="text centered-text">
						<div class="archive-youtube-embed">
							<iframe src="{{ archive.youtube_embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
						<h3>{{ archive.date | date: "%b %e, %Y" }} - {{ archive.interviewee_name }}</h3>
						<p>{{ archive.affiliated_org }}</p>
						<p>{{ archive.short_description }}</p>
					</div>
			{% else %}
					<div class="text centered-text">
						<div class="archive-youtube-embed">
							<iframe src="{{ archive.youtube_embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
						<h3>{{ archive.date | date: "%b %e, %Y" }} - {{ archive.interviewee_name }}</h3>
						<p>{{ archive.affiliated_org }}</p>
						<p>{{ archive.short_description }}</p>
					</div>
				</div>
			</section>
			{% endif %}
		{% endfor %}
	</div>
</section>
