---
title: Organizations
description: Learn about the partner organizations that make up the Richmond Greenway.
image: /images/title-orgs.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1>Partner Organizations</h1>
			<p class="subtext">Learn about the partner organizations that make up the Richmond Greenway.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<ul class="orgs">
			{% assign sorted_orgs = site.partner_orgs | sort: "relative_path" %}
			{% for org in sorted_orgs %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=org.image_path %})"></div>
					<div class="name"><a target="_blank" href="{{ org.website }}">{{ org.name }}</a></div>
					<div class="bio">{{ org.bio }}</div>
					<div class="donate"><a target="_blank" href="{{ org.donate_link }}">Donate</a></div>
					<div class="social"><a target="_blank" href="{{ org.social_media_link }}">{{ org.social_media_name }}</a></div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
