.hero {
	color: #ffffff;
	text-align: center;
	height: 50vh;
	min-height: 550px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;

	/*&:before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
	}*/

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 100%;
		text-align: center;

		h1, h2, p, .button {
			text-shadow: 1px 1px 1px #000;
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

// Background images for homepage only.
// Uses alternative image when using a smaller screen (mobile phones)
@media only screen and (max-width: 600px) {
	.hero-homepage {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/images/title-mobile.png');
	}

	.award-img {
		width:30%;
		height:30%;
	}
}

@media only screen and (min-width: 600px) {
	.hero-homepage {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/images/title.png');
	}

	.award-img {
		width:16%;
		height:16%;
	}
}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image, .youtube-embed {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.award-flex {
		flex-wrap: wrap;
		justify-content: center;
	}

	.youtube-embed {
		text-align: center;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position:absolute;
			top:0;
			left:0;
			height:100%;
			width: 100%;
			
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}